
body {
   color-scheme: dark;
   background-color: #222;
   color: #eee;
   font-family: sans-serif;
}

.hidden {
   display: none;
}

 label {
   font-size: 1rem;
   margin-right: 10px;
   color: white;
 } 
 
p {
   font-size: 1rem;
   color: white;
 }

 select {
   font-size: 1rem;
   color: white;
 }